---
---

@import "./reset";
@import "./mixins";
@import "./variables";

@import "./blocks/button";
@import "./blocks/header";
@import "./blocks/footer";
@import "./blocks/nav";
@import "./blocks/player";
@import "./blocks/container";
@import "./blocks/personality";
@import "./blocks/guest";

@import "./pages/page";
@import "./pages/post";
@import "./pages/top";

html, body {
  height: 100%;
}

body {
  background-color: $color-footer-background;
}

.main {
  background-color: $color-background;
  padding: 32px 0;
}

