.nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  &-list {
    @include flex;
    @include justify-content(flex-end);

    &-item {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $color-text-light-primary;
        text-decoration: none;
      }
    }
  }
}
