.personality {
  a {
    @include flex;
    @include align-items(center);
    text-decoration: none;
  }

  &-img {
    img {
      border-radius: 40px;
      height: 40px;
      width: 40px;
    }
  }

  &-name {
    margin-left: 8px;
    font-size: 14px;
    color: #1c3c7c;
    font-weight: bold;
  }
}