.post {
  background-color: $color-post-background;
  border: 1px solid #ddd;
  // margin-top: 16px;
  padding: 32px;

  &-header {
    color: $color-sub;
    font-size: 28px;
    font-weight: bold;
  }

  &-participants {
    @include flex;
    margin-top: 16px;

    li {
      margin-right: 16px;
    }
  }

  &-content {
    margin-top: 16px;

    .player,
    .markdown {
      margin-top: 32px;
    }
  }

  // &-footer {}
}
