.post {
  background-color: $color-post-background;
  border: 1px solid #ddd;
  // margin-top: 16px;
  padding: 32px;

  &-header {
    h1 {
      color: $color-sub;
      font-size: 28px;
      font-weight: bold;
    }
    
    &-note {
      margin-top: 8px;
      font-size: 18px;
      color: #999;
    }
  }

  &-participants {
    @include flex;
    margin-top: 16px;

    li {
      margin-right: 16px;
    }
  }

  &-content {
    margin-top: 16px;

    .player,
    .markdown {
      margin-top: 32px;
    }
  }

  // &-footer {}
}
