---
layout: default
---

<article class="post container">
  <header class="post-header">
    <h1>{{ page.title }}</h1>
  </header>

  <section class="post-content">
    <p class="post-description">
      {{ page.description }}
    </p>

    {% include player.html %}

    <div class="markdown">
      {{ content }}
    </div>
  </section>

  {% include tweet-button.html %}

  <footer class="post-footer">
    <a class="back" href="/">戻る</a>
  </footer>
</article>

{% if page.audio != null %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/amplitudejs/3.3.0/amplitude.min.js"></script>
  <script>
    Amplitude.init({
      "songs": [
        {
          "name": "{{ page.title }}",
          "artist": "Artist Name",
          "album": "Album Name",
          "url": "{{ page.audio }}",
          // "cover_art_url": "/cover/art/url.jpg"
        },
      ]
    });

    var $back = document.querySelector('.back');

    $back.addEventListener('click', function(e) {
      if (!confirm('ページを離れようとしています。よろしいですか？')) {
        e.preventDefault()
      }
    });
  </script>
{% endif %}
