---
layout: default
---

<div class="post">
  {% include player.html %}
  {{ page.description }}
  <div class="markdown">
    {{ content }}
  </div>
  {% include tweet-button.html %}
</div>

{% if page.audio != null %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/amplitudejs/3.3.0/amplitude.min.js"></script>
  <script>
    Amplitude.init({
      "songs": [
        {
          "name": "{{ page.title }}",
          "artist": "Artist Name",
          "album": "Album Name",
          "url": "{{ page.audio }}",
          // "cover_art_url": "/cover/art/url.jpg"
        },
      ]
    });
  </script>
{% endif %}
